
__pycache__/input_data.cpython-35.pyc
checkpoint/checkpoint
checkpoint/variable.ckpt.data-00000-of-00001
checkpoint/variable.ckpt.index
checkpoint/variable.ckpt.meta
checkpoint/variable_v2.ckpt.data-00000-of-00001
checkpoint/variable_v2.ckpt.index
checkpoint/variable_v2.ckpt.meta
